:root {
  --primary-brand-color: #4D5AE5;
  --primary-text-color: #434455;
  --title-text-color: #2E2F42;
  --accent-color: #E7E9FC;
  --primary-bg-color: #FFFFFF;
  --hover-color: #404BBF;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
}

h1, h2, h3, h4, h5, h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}

.main-button,
.button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 396px;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.close-button {
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--accent-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms var(--timing-function);
}

.close-button:hover,
.close-button:focus {
  background-color: var(--hover-color);
  transition: background-color 250ms var(--timing-function);
}

.close-svg {
  width: 8px;
  height: 8px;
  fill: #2E2F42;
  transition: fill 250ms var(--timing-function);
}

.close-button:hover .close-svg,
.close-button:focus .close-svg {
  fill: #FFFFFF;
  transition: fill 250ms var(--timing-function);
}

.main-button {
  background-color: var(--primary-brand-color);
  color: var(--primary-bg-color);
  border-color: var(--primary-brand-color);
  font-family: inherit;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.04em;

  display: inline-block;
  min-width: 170px;
  height: 51px;
  padding: 16px 32px;
  border-radius: 4px;
  margin-top: 48px;
  transition: background-color 250ms var(--timing-function), border-color 250ms var(--timing-function);
}

.main-button:hover,
.main-button:focus {
  background-color: var(--hover-color);
  border-color: var(--hover-color);
  color: var(--primary-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--timing-function), border-color 250ms var(--timing-function);
}

.main-button:active {
  background-color: #404BBF;
  color: var(--primary-bg-color);
}

/*____________ Main section _______________*/

.main-section {
  background-color: var(--title-text-color);
  text-align: center;
  padding-top: 112px;
  padding-bottom: 109px;
  width: 396px;
  background-image:
    url("../image/hero/mobile-bg.png"), url("../image/hero/mobile-bgi.jpg");
  /*max-width: 767px;*/
  height: 432px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--title-text-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (-o-min-device-pixel-ratio: 2/1),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .main-section {
    background-image: url("../image/hero/mobile-bg.png"), url("../image/hero/mobile-bgi@2x.jpg");
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.main-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  color: var(--primary-bg-color);
  width: 317px;
  text-align: center;
}

.section-title,
.section-header {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.11;
  text-align: center;
}

/*___________ Mobile Menu ________________*/

.page-header {
  width: 100%;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  color: var(--primary-brand-color);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.accent {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.menu-container .link {
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 600;
  line-height: 1.11;
}
.menu-container .link:hover,
.menu-container .link:focus,
.menu-container .link:active {
  color: var(--primary-brand-color)
}

.menu-smm {
display: flex;
flex-direction: row;
margin-top: 48px;
}

.menu-smm {
  justify-content: space-between;
  max-width: 328px;
}

.smm-container {
  width: 40px;
  height: 40px;
  background-color: var(--primary-brand-color);
  border-radius: 50%;
  display: flex;
  transition: background-color 250ms var(--timing-function);
}

.smm-container:hover,
.smm-container:focus {
  background-color: var(--hover-color);
  transition: background-color 250ms var(--timing-function);
}

.smm-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.smm-icon-size {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 767.9px) {
  .site-nav,
  .contacts-menu {
    display: none;
  }

  .menu-button {
    background-color: transparent;
    line-height: 0;
    padding: 0;
    border: 0;
    }

  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    left: 0;
    top: 0;
    z-index: 100;
    overflow-y: scroll;
    opacity: 0;
    visibility: hidden;
    pointer-events: auto;
    background-color: var(--primary-bg-color);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: painted;
  }

  .menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: var(--primary-bg-color);
  }

  .menu-container .site-nav {
    display: block;
    padding-top: 80px;
    padding-left: 40px;
  }

  .menu-container .close-button {
    position: fixed;
    top: 40px;
    right: 40px;
  }

  .menu-container .contacts-menu {
    display: flex;
    flex-direction: column;
    margin-top: 284px;
    padding-left: 40px;
    padding-bottom: 40px;
  }

  .mobile-menu .item:not(:last-child),
  .contact .contact-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .mobile-menu .contact-item:last-child .link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .advantages-item:not(:last-child) {
    margin-bottom: 72px;
  }

  .ftr {
    text-align: center;
  }
}

/*_____________ Advantages _______________*/
.advntgs {
  padding-top: 96px;
  width: 396px;
  margin: 0 auto;
}

.advantages-icon {
  display: none;
}
.section-header {
  margin-bottom: 8px;
}
.advantages-item p {
  font-weight: 500;
  line-height: 1.5;
}

/*_____________ What are We doing _______________*/
@media screen and (max-width: 1199.9px) {
  .we {
    display: none;
  }
}

/*______________ Our Team ______________________*/
.team {
  width: 396px;
  background-color: #F4F4FD;
  padding-top: 96px;
  margin: 0 auto;
}
.our-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left:  auto;
  margin-right: auto;
  padding-top: 96px;
}

.team-item {
  margin-bottom: 72px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  background-color: var(--primary-bg-color);
  padding: 32px 14px;
  text-align: center;
}

.team-name .section-header {
  font-size: 20px;
  line-height: 1.2;
}
.team-smm {
  display: flex;
  width: 232px;
  height: 48px;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.smm-icon-size {
  width: 16px;
  height: 16px;
}

/*______________ Customers __________*/
.customer {
  width: 396px;
  padding-top: 96px;
  padding-bottom: 96px;
  margin: 0 auto;
}

.customers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 72px;
}  

.customers-item {
  height: 88px;
  border-radius: 4px;
  flex-basis: calc((100% - 16px) / 2);
  gap: 16px;
  margin-bottom: 72px;
}

.customers-item:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.company {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8E8F99;
  border: 1px solid #8E8F99;
  transition: color 250ms var(--timing-function), border 250ms var(--timing-function);
}

.company:hover,
.company:focus {
  border: 1px solid var(--hover-color);
  color: var(--hover-color);
  transition: color 250ms var(--timing-function), border 250ms var(--timing-function);
}

.client {
  width: 104px;
  height: 56px;
  fill: currentColor;
  transition: fill 250ms var(--timing-function);
}

.client:hover,
.client:focus {
  fill: var(--hover-color);
  transition: fill 250ms var(--timing-function);
}

/*_____________ Footer _____________*/
.footer {
  width: 396px;
  background-color: var(--title-text-color);
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-text-box {
  width: 268px;
  margin: 0 auto;
}

.footer-text {
  display: block;
  max-width: 268px;
  margin-top: 16px;
}

.footer-text {
  color: var(--accent-color);
}

.footer-logo {
  font-family: Raleway;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}

.footer-accent {
  color: #F4F4FD;
  font-family: Raleway;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-social {
  max-width: 208px;
  height: 80px;
  color: var(--primary-bg-color);
  text-align: center;
  margin: 72px auto;
}

.social-box {
  max-width: 208px;
  height: 40px;
  margin-top: 16px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.social-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;
}

.social-item:not(:last-child) {
  margin-right: 16px;
}

.social {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--timing-function);
}

.social:hover,
.social:focus {
  background-color: #31D0AA;
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function);
}

.social-icon {
  width: 24px;
  height: 24px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  width: 396px;
  color: var(--primary-bg-color);
  margin: 0 auto;
}

.subscribe-box {
  line-height: 2.0;
  letter-spacing: 0.04em;
  max-width: 396px;
  text-align: center;
}

.subscribe-box .main-button {
  margin: 0;
  max-width: 168px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.subscribe-box input {
  width: 80%;
  height: 40px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding-left: 16px;
  background-color: var(--title-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #FFFFFF;
}

.subscribe-box~input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: roboto, sans-serif;
}

.button-box .main-button {
  max-width: 168px;
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
}

.subscribe-icon {
  width: 24px;
  height: 24px;
  margin-left: 16px;
}

@media screen and (max-width: 395.9px) {
    .subscribe {
      width: 100%;
    }
  }

@media screen and (min-width: 396px) {
  .main-section, .team, .footer {
    width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 428px;
  }

  .subscribe-box input {
    width: 100%;
  }
}


/*__________________ TABLET ____________________*/

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .header {
    display: flex;
  }
  .menu-button {
    display: none;
  }

  .menu-smm,
  .menu-container .close-button {
    display: none;
  }

  .mobile-menu {
    position: static;
    display: flex;
    flex-direction: row;
    width: 768px;
    height: 70px;
    margin-left: 122px;
  }

  .menu-container {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .menu-container .link {
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.5;
  }

  .site-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 261px;
    height: 70px;
    font-weight: 600;
  }

  .site-nav .link {
    display: block;
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .site-nav .item:not(:last-child) {
    margin-right: 40px;
    margin-bottom: 0;
    width: auto;
  }

  .site-nav .link {
    font-weight: 500;
    color: var(--title-text-color);
    transition: color 250ms var(--timing-function);
  }

  .site-nav .link:hover,
  .site-nav .link:focus {
    color: var(--primary-text-color);
    transition: color 250ms var(--timing-function);
  }

  .site-nav .link:active {
    color: var(--primary-brand-color);
  }

  .menu {
    position: relative;
  }

  .menu::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--hover-color);
    opacity: 0;
    transition: opacity 250ms var(--timing-function);
  }

  .current .menu::after {
    opacity: 1;
  }

  .current .menu {
    color: var(--hover-color);
  }

  .contact .link {
    color: var(--primary-text-color);
    transition: color 250ms var(--timing-function);
  }

  .contact .link:hover,
  .contact .link:focus {
    color: var(--primary-brand-color);
    transition: color 250ms var(--timing-function);
  }

  .menu-container .contacts-menu {
    margin-left: 116px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 0;
    height: 100%;
  }

  .contact .contact-item {
    margin-bottom: 0;
  }

  .main-section {
    background-image:
      url("../image/hero/desktop-bg.png"), url("../image/hero/tablet-bgi.jpg");
  }

  @media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (-o-min-device-pixel-ratio: 2/1),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    .main-section {
      background-image: url("../image/hero/desktop-bg.png"), url("../image/hero/tablet-bgi@2x.jpg");
    }
  }

  .main-title {
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    color: var(--primary-bg-color);
    width: 492px;
    text-align: center;
  }

  .advntgs {
    padding-top: 99px;
    width: 736px;
    height: auto;
    margin: 0 auto;
  }

  .advantages {
    display: flex;
    padding-left: 0;
  }

  .advantages-item {
    flex-basis: 356px;
  }
  
  .advantages-item .section-header {
    text-align: left;
  }

  .team {
    width: 100%;
  }

  .our-team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 72px;
    padding-left: 0;
    margin: 0 auto;
  }

  .team-item {
    width: 264px;
    margin-bottom: 56px;
  }
  .team-item:nth-child(odd) {
    margin-right: 24px;
  }

  .customer, 
  .customer .container, .customers {
    width: 552px;
  }

  .customer .container {
    margin: 0;
    padding: 0;
  }

  .customers {
    justify-content: center;
  }

  .customers-item {
    flex-basis: 168px;
    margin-right: 24px;
    margin-bottom: 72px;
    border-radius: 4px;
  }

  .customers-item:nth-child(3n+3) {
    margin-right: 0;
  }

  .customers-item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }

  .ftr {
    display: flex;
    flex-direction: column;
  }

  .footer-tablet {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 108px;
    margin-bottom: 72px;
  }

  .footer-text-box {
    width: 264px;
    margin: 0;
  }

  .footer-text {
    max-width: 264px;
  }

  .footer-social {
    margin: 0;
    margin-left: 24px;
  }

  .subscribe {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding-left: 108px;
    width: 456px;
  }

  .subscribe-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;
  }

  .subscribe-box input {
    width: 264px;
    margin: 0;
  }

  .button-box {
    margin-left: 24px;
  }
}

@media screen and (max-width: 1199.9px) {
  .advntgs {
    padding-bottom: 96px;
  }

  .advantages {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .contact-item .link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
  }
  
  .advantages-item {
    margin-bottom: 72px;
  }
  
  .advantages-item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }

  .advantages-item:nth-child(odd) {
    margin-right: 24px;
  }
}

/*__________________ DESKTOP ____________________*/

@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }

  .mobile-menu {
    width: 1158px;
    height: 72px;
    margin-left: 76px;
  }

  .site-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 149px;
    padding: 0;
    margin: 0;
    width: 261px;
    height: 72px;
    font-weight: 600;
  }

  .site-nav .link,
  .contact .link {
    display: block;
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .site-nav .item:not(:last-child) {
    margin-right: 40px;
    margin-bottom: 0;
    width: auto;
  }

  .site-nav .link {
    font-weight: 500;
    color: var(--title-text-color);
    transition: color 250ms var(--timing-function);
  }

  .menu-container .contacts-menu {
    margin-left: 332px;
  }

  .contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    height: 100%;
  }

  .contact .contact-item {
    margin-bottom: 0;
  }

  .contact-item:last-child {
    margin-left: 40px;
  }

  .contact-item .link {
    font-weight: 400;
  }

  .main-section {
    padding-top: 192px;
    padding-bottom: 192px;
    background-image:
      url("../image/hero/desktop-bg.png"), url("../image/hero/desktop-bgi.jpg");
    max-width: 1440px;
    height: 600px;
  }

  @media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (-o-min-device-pixel-ratio: 2/1),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    .main-section {
      background-image: url("../image/hero/desktop-bg.png"), url("../image/hero/desktop-bgi@2x.jpg");
    }
  }

/*_____________ other section ____________*/
  .section-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-text-color);
    text-align: center;
  }

  .section-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--title-text-color);
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .advntgs {
    padding-top: 120px;
    width: 1128px;
  }

  .advantages {
    flex-direction: row;
  }

  .advantages-item {
    flex-basis: 264px;
    margin-left: 24px;
  }

  .advantages-item:first-child {
    margin-left: 0;
  }

  .advantages-icon {
    width: 264px;
    height: 112px;
    padding: 24px 100px;
    background-color: #F4F4FD;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .advtgs-svg {
    width: 64px;
    height: 64px;
  }

  .advantages-item p {
    font-weight: 400;
  }
  .we {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .we-are {
    display: flex;
    margin-top: 72px;
  }

  .we-are .item:not(:last-child) {
    margin-right: 24px;
  }

  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .our-team {
    justify-content: center;
    align-items: center;
  }

  .our-team .section-header {
    margin-bottom: 8px;
  }

  .team-name {
    background-color: var(--primary-bg-color);
    padding: 32px 16px;
    text-align: center;
  }

  .team-item:not(:last-child) {
    margin-right: 24px;
  }

  .customer,
  .customer .container,
  .customers {
    width: 1128px;
  }

  .customer {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    margin-top: 72px;
  }

  .customers-item {
    width: 168px;
    height: 88px;
    margin-bottom: 0;
  }

  .customers-item:not(:last-child) {
    margin-right: 24px;
  }


/*_______________________Footer____________________*/
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .ftr {
    flex-direction: row;
    margin: 0 auto;
  }

  .footer-tablet {
    padding: 0;
    margin: 0;
  }

  .footer-social {
    margin-left: 120px;
    margin-right: 80px;
  }

  .subscribe {
    padding: 0;
  }

  .social-box {
    width: 208px;
    height: 40px;
    margin-top: 16px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .social-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-item:not(:last-child) {
    margin-right: 16px;
  }

  .social {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms var(--timing-function);
  }

  .social:hover,
  .social:focus {
    background-color: #31D0AA;
    border-radius: 50%;
    transition: background-color 250ms var(--timing-function);
  }

  .social-icon {
    width: 24px;
    height: 24px;
  }

  .subscribe-box {
    display: flex;
    align-items: center;
    margin-top: 16px;
    line-height: 2.0;
    letter-spacing: 0.04em;
  }

  .subscribe-box .main-button {
    margin: 0;
    width: 168px;
    height: 40px;
    padding: 8px 24px;
    display: flex;
    align-items: center;
  }

  .subscribe-box input {
    width: 264px;
    height: 40px;
    background-color: var(--title-text-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #FFFFFF;
  }

  .subscribe-box+input {
    font-family: roboto, sans-serif;
  }

  .subscribe-box~input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-family: roboto, sans-serif;
  }
}

/* __________ BACKDROP & MODAL FORM ____________*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 1000ms;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}

.modal {
  position: absolute;
  width: 408px;
  height: 576px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), opacity 500ms linear;
  opacity: 1;
  background: #FCFCFC;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}



@media screen and (min-width: 320px) and (max-width: 767.9px) {
  .modal {
    width: 396px;
    margin-top: 96px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .modal {
    margin-top: 96px;
  }
}

.modal .close-button {
  position: fixed;
  top: 24px;
  right: 24px;
}

.modal-form {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px;
}

.modal-form p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--title-text-color);
  margin-bottom: 16px;
  text-align: center;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #8E8F99;
  margin-bottom: 8px;
}

.form-label {
  margin-bottom: 4px;
}

.form-field input {
  margin: 0;
  padding-left: 38px;
  font-size: medium;
}

.form-input {
  width: 360px;
  height: 40px;
  left: 0px;
  top: 84px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-input:hover,
.form-input:focus,
.textarea:hover,
.textarea:focus {
  border-color: var(--primary-brand-color);
  outline: 1px solid var(--hover-color);
}

.modal-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 16px;
}

.form-field:focus-within>.modal-icon {
  fill: var(--primary-brand-color);
}

.textarea {
  resize: none;
  padding-top: 8px;
  padding-left: 16px;
  width: 360px;
  height: 120px;
  left: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-checkbox {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 8px;
  width: 360px;
  height: 16px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
}

.form-checkbox a {
  color: var(--primary-brand-color);
}

.input-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1.25px solid var(--title-text-color);
  border-radius: 2px;
  transition: background-color 250ms var(--timing-function);
}

.checkbox-icon {
  display: block;
  align-items: center;
  justify-content: center;
  opacity: 1;
  width: 16px;
  height: 16px;
}

.input-checkbox:checked+.custom-checkbox {
  background-color: var(--hover-color);
  background-origin: border-box;
  border-color: transparent;
  transition: background-color 250ms var(--timing-function);
}

.modal-button {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  align-items: center;
}

.modal-button .main-button {
  margin: 0;
}

@media screen and (max-width: 479px) {
  .modal {
    width: 90%;
  }

  .form-field {
    width: 100%;
  }

  .form-input, .textarea {
    width: 100%;
  }
  .form-checkbox {
    width: 100%;
  }
}

/*________________ Portfolio Page _________________*/
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.button {
  font-family: inherit;
  font-weight: 500;
  width: auto;
  height: 48px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  background-color: #F4F4FD;

  border: 1px solid var(--accent-color);
  border-radius: 4px;
  padding: 8px 16px;
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}

.button:hover,
.button:focus {
  background-color: var(--hover-color);
  color: var(--primary-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}

.btn {
  display: flex;
  margin-bottom: 72px;
  padding-left: 0;
  align-items: center;
  justify-content: center;
}

.btn-item:not(:last-child) {
  margin-right: 24px;
}

.work {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.work .item {
  margin-right: 20px;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay::before {
  position: absolute;
  content: "";
  width: 360px;
  height: 300px;
  background-color: var(--primary-brand-color);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function);
}

.work-card:hover .overlay::before,
.work-card:focus .overlay::before {
  transform: translateY(0);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function);
  opacity: 1;
}

.p-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: #F4F4FD;
  margin: 0;
  padding: 40px 32px 164px;
  opacity: 0;
}

.work-card:hover .p-overlay,
.work-card:focus .p-overlay {
  transition: opacity 500ms;
  opacity: 1;
}

.work .item:not(:nth-last-child(-n+3)) {
  margin-bottom: 48px;
}

.work .item:nth-child(3n) {
  margin-right: 0;
}

.work .section-header {
  margin-bottom: 8px;
}

.work-card {
  display: block;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms var(--timing-function);
}

.work-card:hover,
.work-card:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms var(--timing-function);
}

.p-div {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 0.5px solid #F4F4FD;
}

.p_link {
  font-family: inherit;
  color: var(--primary-text-color);
  font-size: inherit;
  letter-spacing: inherit;
}


/* Цвет основного текста Roboto 400 #434455*/
/* Цвет заголовка Roboto 600 #2E2F42*/
/* Footer text color Roboto 400 #E7E9FC*/
/* Web color Raleway 800: #4D5AE5; Studio color: #F4F4FD */
/* Hero Roboto 600 color: #FFFFFF */